*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    background-color: #121212; /* Dark background */
    color: #ffffff; /* White text color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

h1 {
    text-align: center;
    color: #ffffff; /* White text color */
    margin: 20px 0;
}

h5 {
    text-align: center;
    color: #ffffff;
    margin: 20px 0;
}

h5 a {
    color: #f88; /* Link color */
    text-decoration: none; /* Remove underline */
}

main {
    width: 100%;
}

#drum-machine {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.drum-pad {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(33% - 10px);
    margin: 5px;
    padding: 20px;
    background-color: #5a5a5a;
    color: #ffffff; /* White text color */
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    user-select: none;
}

.drum-pad.active {
    background-color: #ff7e00;
    box-shadow: inset 2px 2px 6px 1px rgba(0, 0, 0, 0.7);
}

.controls {
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#display {
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: #ffffff; /* White text color */
    text-align: center;
    line-height: 50px;
    font-size: 26px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 10px;
}

.button {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.label {
    width: 65px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff; /* White text color */
}

.container {
    width: 45px;
    height: 21px;
    border: 3px solid #5a5a5a;
    background-color: #5a5a5a;
    display: inline-block;
    border-radius: 5px;
    position: relative;
}

.cube {
    width: 15px;
    height: 15px;
    background-color: #ff7e00;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 3px;
}

.cube.on {
    left: auto;
    right: 3px;
}

input[type='range'] {
    width: 100%;
    outline: none;
    -webkit-appearance: none;
    background-color: #5a5a5a;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #ff7e00;
    cursor: pointer;
    border-radius: 50%;
}
